body {
    font-family: "Montserrat", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5a189a;
}

h3 {
    color: #333;
}

p {
    line-height: 1.6;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a189a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #3d0d5e;
}
